.landingPageContainer {
  width: 100%;
  height: 150vh;
  background: url('/public/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.landingPageContainer nav {
  padding-inline: 3.5rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.landingPageContainer nav .navlist {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}

.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 6rem;
  height: 80vh;
  align-items: center;
}

.landingText {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.landingText p {
  font-size: 1.6rem;
}

.landingBtn {
  background-color: #458dd1;
  width: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

.landingBtn:hover {
  background-color: #62a1db;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.landingBtn a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

.landingImg img {
  height: 87vh;
  width: auto;
}

/* Footer */
.landingFooter {
  bottom: 0;
  width: 100%;
  height: 20rem;
  margin-top: 5rem;
  background-color: #12131a;
  color: #c0caf5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.f-info-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.credits {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #5a7792;
}

.navlist p {
  cursor: pointer;
  background-color: #5293cf;
  color: #1a1b26;
  font-weight: 600;
  border-radius: 0.5rem !important;
  padding: 0.6rem;
  transition: all 0.3s ease;
}

.navlist p:hover {
  background-color: #87b7e4;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .landingPageContainer nav {
    padding-inline: 1rem;
  }

  .landingPageContainer nav h2 {
    font-size: 1.2rem;
  }

  .landingMainContainer {
    flex-direction: column-reverse;
    height: auto;
    gap: 2rem;
  }

  .landingText {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: -4rem;
  }

  .landingImg img {
    height: 60vh;
  }

  .landingBtn {
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
